{
  "root": true,
  "extends": [
    "@nuxtjs/eslint-config-typescript",
    "@antfu"
  ],
  "settings": {
    "import/ignore": [
      "vue"
    ]
  },
  "rules": {
    "@typescript-eslint/no-unused-vars": [
      "off"
    ],
    "@typescript-eslint/semi": [
      "error"
    ],
    "@typescript-eslint/comma-dangle": [
      "error"
    ],
    "vue/multi-word-component-names": 0,
    "semi": "error",
    "comma-dangle": "error",
    "no-unused-vars": "off"
  },
}
