@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Text primary */

  .text-primary {
    @apply text-gray-900 dark:text-gray-50;
  }

  /* Text secondary */

  .text-secondary {
    @apply text-gray-500 dark:text-gray-400;
  }

  .text-secondary-active {
    @apply text-primary-600 dark:text-primary-500;
  }

  .text-secondary-hover {
    @apply hover:text-primary-600 hover:dark:text-primary-500;
  }

  .text-secondary-group-hover {
    @apply group-hover:text-primary-600;
  }

  /* Transitions */

  .transition-base {
    @apply duration-100 ease-in-out;
  }

  /* Surface */

  .surface {
    @apply dark:bg-gray-900 bg-white;
  }

  .surface-secondary {
    @apply bg-gray-50 dark:bg-gray-800 dark:bg-opacity-25;
  }

  .surface-blurry {
    @apply backdrop-blur bg-white/95 dark:bg-gray-900/95;
  }

  /* Borders */

  .surface-border {
    @apply border-gray-200 dark:border-gray-800;
  }

  .surface-border-hover {
    @apply border-primary-200 dark:border-gray-700;
  }

  .surface-border-header {
    @apply border-b border-gray-200 dark:border-gray-800 border-opacity-50;
  }

  /* Icons */

  .icon-base {
    @apply transition-base transition-colors text-secondary text-secondary-hover;
  }

  /* Code blocks */

  .code-background {
    /* background-color: var(--codeblocks-background); */
    @apply bg-gray-800;
  }

  /* Images */

  .light-img {
    @apply dark:hidden;
  }

  .dark-img {
    @apply hidden;
  }
}

/* Variables */
:root {
  --header-height: 4rem;
  --footer-height: 8rem;
  --codeblocks-background: theme('colors.gray.900');
}

@screen sm{
  :root {
    --footer-height: 4rem;
  }
}

html {
  @apply text-primary bg-white overflow-y-scroll min-h-screen;

  &.dark {
    @apply bg-gray-900;
  }
}

body {
  @apply antialiased font-sans text-gray-700 dark:text-gray-200 min-h-screen;
}
