/*! purgecss start ignore */
@import './prism.css';

body {
  @apply antialiased text-gray-500 bg-white dark:text-gray-300 dark:bg-gray-900;
}

.dark .light-img {
  display: none;
}
.dark .dark-img {
  display: block;
}
.dark-img {
  display: none;
}
.light-img {
  display: block;
}

.nuxt-content {
  @apply break-words;

  & h2, & h3 {
    /* Style anchor links on headings added by @nuxt/content */
    & > a {
      &::after {
        content: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="%23111827"%3E%3Cpath stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1" /%3E%3C/svg%3E');
        @apply absolute pl-2 w-5 h-5 opacity-0;
      }

      &:hover {
        &::after {
          @apply opacity-100;
        }
      }
    }
  }

  & .nuxt-content-highlight {
    @apply relative;

    /* Style filename span added by @nuxt/content */
    & > .filename {
      @apply absolute top-0 right-0 z-10 mt-3 mr-4 font-mono text-sm leading-none tracking-tight text-gray-100;
    }

    /* Add top padding to code blocks with filename */
    & > .filename + pre[class*="language-"] {
      @apply pt-8;
    }

    /* Style copy button added in `pages/_.vue` */
    & > .copy {
      @apply hidden absolute right-0 bottom-0 leading-none shadow-lg px-1.5 py-1.5 text-white bg-gray-800 text-sm uppercase rounded-md border border-white font-semibold mr-3 mb-3;

      &:hover {
        @apply bg-gray-700;
      }

      &:focus {
        @apply bg-gray-600 outline-none;
      }

      &.copied {
        @apply text-green-200 border-green-200;
      }
    }

    &:hover {
      & > .copy {
        @apply block;
      }
    }
  }
}

.dark {
  & .nuxt-content {
    & h2, & h3 {
      & > a {
        &::after {
          content: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="white"%3E%3Cpath stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1" /%3E%3C/svg%3E');
        }
      }
    }
  }
}
/*! purgecss end ignore */
