/*! purgecss start ignore */
@import './prism.css';
/*! purgecss end ignore */

body {
  @apply antialiased text-gray-500 bg-white dark:text-gray-300 dark:bg-gray-900;
}

.dark .light-img {
  display: none;
}
.dark .dark-img {
  display: block;
}
.dark-img {
  display: none;
}
.light-img {
  display: block;
}

.nuxt-content {
  @apply break-words;

  & h2, & h3 {
    /* Style anchor links on headings added by @nuxt/content */
    & > a {
      @apply ml-5;

      &::before {
        content: "#";
        @apply absolute pr-2 -ml-5 text-xl font-normal leading-8 opacity-100 text-primary-500 dark:text-primary-400;
      }

      @screen lg {
        @apply ml-0;

        &::before {
          @apply opacity-0;
        }
      }
    }

    &:hover {
      & > a::before {
        @apply opacity-100;
      }
    }
  }

  & .nuxt-content-highlight {
    @apply relative;

    /* Style filename span added by @nuxt/content */
    & > .filename {
      @apply absolute top-0 right-0 z-10 mt-3 mr-4 font-mono text-sm leading-none tracking-tight text-gray-100;
    }

    /* Add top padding to code blocks with filename */
    & > .filename + pre[class*="language-"] {
      @apply pt-8;
    }

    /* Style copy button added in `pages/_.vue` */
    & > .copy {
      @apply hidden absolute right-0 bottom-0 leading-none shadow-lg px-1.5 py-1.5 text-white bg-gray-800 text-sm uppercase rounded-md border border-white font-semibold mr-3 mb-3;

      &:hover {
        @apply bg-gray-700;
      }

      &:focus {
        @apply bg-gray-600 outline-none;
      }

      &.copied {
        @apply text-green-200 border-green-200;
      }
    }

    &:hover {
      & > .copy {
        @apply block;
      }
    }
  }

  /* Force style on pre elements */
  /* & pre[class*="language-"] { */
    /* Make pre static so the relative goes to the parent (.nuxt-content-highlight) */
    /* @apply static bg-gray-800 rounded-md; */
  /* } */
}
