body {
  @apply antialiased text-gray-500 bg-white dark:text-gray-300 dark:bg-gray-900;
}

.nuxt-content {
  @apply break-words;
  & h2 {
    /* Style anchor links on headings added by @nuxt/content */
    & > a {
      &::after {
        content: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="%23111827"%3E%3Cpath stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1" /%3E%3C/svg%3E');
        @apply absolute w-5 h-5 pl-2 opacity-0;
      }

      &:hover {
        &::after {
          @apply opacity-100;
        }
      }
    }
  }

  & h3 {
    /* Style anchor links on headings added by @nuxt/content */
    & > a {
      &::after {
        content: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="%23111827"%3E%3Cpath stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1" /%3E%3C/svg%3E');
        @apply absolute w-5 h-5 pl-2 opacity-0;
      }

      &:hover {
        &::after {
          @apply opacity-100;
        }
      }
    }
  }

  & .nuxt-content-highlight {
    @apply relative;

    /* Style filename span added by @nuxt/content */
    & > .filename {
      @apply px-3 pr-4 py-1.5 border border-b-0 font-mono font-semibold text-xs leading-none tracking-tight text-gray-700 bg-gray-100 rounded-t-md  dark:text-gray-100 dark:bg-gray-800 dark:border-gray-600;
    }

    /* Add top padding to code blocks with filename */
    & > .filename + pre[class*="language-"] {
      @apply border rounded-tl-none dark:border-gray-600;
    }

    /* Style copy button added in `pages/_.vue` */
    & > .copy {
      @apply outline-none absolute right-0 bottom-0 px-3 py-1.5 text-gray-700 bg-gray-200 text-xs leading-none rounded-tl-md border border-b-0 border-r-0 border-gray-300 font-mono dark:text-white dark:bg-gray-700 dark:border-gray-600;

      &:hover {
        @apply bg-gray-300 border-gray-300 dark:bg-gray-600 dark:border-gray-500;
      }

      &:focus {
        @apply bg-gray-300 border-gray-300 dark:bg-gray-600 dark:border-gray-500;
      }

      &.copied {
        @apply bg-gray-300 border-gray-300 dark:bg-gray-600 dark:border-gray-500;
      }
    }

    &:hover {
      & > .copy {
        @apply block;
      }
    }
  }
}

.dark {
  & .nuxt-content {
    & h2 {
      & > a {
        &::after {
          content: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="white"%3E%3Cpath stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1" /%3E%3C/svg%3E');
        }
      }
    }
    & h3 {
      & > a {
        &::after {
          content: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="white"%3E%3Cpath stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1" /%3E%3C/svg%3E');
        }
      }
    }
  }
}
