@import 'prism-theme-vars/base.css';

html:not(.dark) {
  --prism-class: #9807af;
  --prism-builtin: #9807af;
  --prism-function: #9807af;

  --prism-keyword: #096d7c;

  --prism-string: #679c0d;
  --prism-number: #679c0d;
  --prism-selector: #679c0d;
  --prism-boolean: #679c0d;


  --prism-property: #078ce5;

  --prism-punctuation: #078ce5;

  --prism-foreground: inherit;
  --prism-background: #1e1e1e;
  --prism-comment: #758575;
  --prism-literal: #429988;
  --prism-variable: #c2b36e;
  --prism-deleted: #a14f55;
  --prism-namespace: #db889a;
  --prism-decorator: #bd8f8f;
  --prism-regex: #ab5e3f;
  --prism-json-property: #6b8b9e;
  --prism-line-number: #888888;
  --prism-line-number-gutter: #eeeeee;
  --prism-line-highlight-background: #444444;
  --prism-selection-background: #444444;
}
html.dark {
  --prism-scheme: dark;
  --prism-class: #E879F9;
  --prism-builtin: #E879F9;
  --prism-function: #E879F9;

  --prism-keyword: #22D3EE;

  --prism-string: #BEF264;
  --prism-number: #BEF264;
  --prism-selector: #BEF264;
  --prism-boolean: #BEF264;

  --prism-property: #E0F2FE;
  --prism-punctuation: #E0F2FE;

  --prism-foreground: inherit;
  --prism-background: #fbfbfb;
  --prism-comment: #a0ada0;
  --prism-literal: #2f8a89;
  --prism-constant: #a65e2b;
  --prism-deleted: #a14f55;
  --prism-namespace: #b05a78;
  --prism-decorator: #bd8f8f;
  --prism-regex: #ab5e3f;
  --prism-json-property: #698c96;
}
