@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Text primary */

  .text-primary {
    @apply text-primary-500 dark:text-primary-500;
  }
  .text-primary-active {
    @apply text-primary-600 dark:text-primary-500;
  }
  .text-primary-hover {
    @apply hover:text-primary-600 hover:dark:text-primary-500;
  }
  .text-primary-group-hover {
    @apply group-hover:text-primary-600;
  }

  /* Text secondary */

  .text-secondary {
    @apply text-gray-500 dark:text-gray-200;
  }
  .text-secondary-hover,
  .text-secondary-active {
    @apply text-gray-700 dark:text-gray-50;
  }
  .text-secondary-group-hover {
    @apply group-hover:text-gray-600 dark:group-hover:text-gray-100;
  }

  /* Surface */

  .surface {
    @apply bg-white dark:bg-gray-900;
  }
  .surface-secondary {
    @apply bg-gray-50 dark:bg-opacity-25 dark:bg-gray-800;
  }
  .surface-blurry {
    @apply bg-white/95 backdrop-blur dark:bg-gray-900/95;
  }

  /* Icons */

  .icon-base {
    @apply text-gray-400 hover:text-gray-500 dark:text-gray-300 dark:hover:text-gray-200;
  }

  /* Images */

  .light-img {
    @apply block dark:hidden;
  }

  .dark-img {
    @apply hidden dark:block;
  }
}

/* Variables */
:root {
  --header-height: 4rem;
  --footer-height: 4rem;
  --page-height: calc(100vh - calc(var(--header-height) + var(--footer-height)));
}

.dark:root {
  color-scheme: dark;
}

html {
  @apply min-h-screen overflow-x-hidden overflow-y-scroll font-sans antialiased bg-white;

  &.dark {
    @apply bg-gray-900;
  }
}

body {
  @apply min-h-screen font-sans antialiased text-gray-700 dark:text-gray-200;
}

.docus-content {
  & > :first-child {
    margin-top: 0;
  }
}

.alert,
.badge,
.callout,
.card {
  /*
    Color Schemes
    TODO: Improve the usage of these styles across components.
  */
  &.base {
    @apply text-gray-600 border border-gray-100 bg-gray-50 dark:border-gray-900 dark:bg-gray-800 dark:bg-opacity-25 dark:text-gray-200;

    code {
      @apply text-current bg-gray-100 border-gray-200 shadow-none dark:border-gray-800 dark:bg-gray-900 dark:bg-opacity-50;
    }
    a:hover {
      code {
        @apply border-gray-400 dark:border-gray-700;
      }
    }
  }

  &.primary {
    @apply border border-primary-100 bg-primary-50 text-primary-600 dark:border-primary-900 dark:bg-primary-800 dark:bg-opacity-25 dark:text-primary-200;

    code {
      @apply text-current shadow-none border-primary-200 bg-primary-100 dark:border-primary-800 dark:bg-primary-900 dark:bg-opacity-50;
    }
    a:hover {
      code {
        @apply border-primary-400 dark:border-primary-700;
      }
    }
  }

  &.success {
    @apply text-green-600 border border-green-100 bg-green-50 dark:border-green-900 dark:bg-green-800 dark:bg-opacity-25 dark:text-green-200;

    code {
      @apply text-current bg-green-100 border-green-200 shadow-none dark:border-green-800 dark:bg-green-900 dark:bg-opacity-50;
    }
    a:hover {
      code {
        @apply border-green-400 dark:border-green-700;
      }
    }

  }

  &.info {
    @apply text-blue-600 border border-blue-100 bg-blue-50 dark:border-blue-900 dark:bg-blue-800 dark:bg-opacity-25 dark:text-blue-200;

    code {
      @apply text-current bg-blue-100 border-blue-200 shadow-none dark:border-blue-800 dark:bg-blue-900 dark:bg-opacity-50;
    }
    a:hover {
      code {
        @apply border-blue-400 dark:border-blue-700;
      }
    }
  }

  &.warning {
    @apply text-yellow-600 border border-yellow-100 bg-yellow-50 dark:border-yellow-900 dark:bg-yellow-800 dark:bg-opacity-25 dark:text-yellow-100;

    code {
      @apply text-current bg-yellow-100 border-yellow-200 shadow-none dark:border-yellow-800 dark:bg-yellow-900 dark:bg-opacity-50;
    }
    a:hover {
      code {
        @apply border-yellow-400 dark:border-yellow-700;
      }
    }

  }

  &.danger {
    @apply text-red-600 border border-red-100 bg-red-50 dark:border-red-900 dark:bg-red-800 dark:bg-opacity-25 dark:text-red-100;

    code {
      @apply text-current bg-red-100 border-red-200 shadow-none dark:border-red-800 dark:bg-red-900 dark:bg-opacity-50;
    }
    a:hover {
      code {
        @apply border-red-400 dark:border-red-700;
      }
    }
  }

  &.blurry {
    @apply !backdrop-blur-lg !bg-opacity-20;
  }

  a {
    @apply !text-current !border-none !font-semibold !underline;
  }

  strong {
    @apply !font-semibold !text-current;
  }

  li::before {
    @apply !text-current !bg-current;
  }

  .prose-code {
    @apply my-4;

    code {
      @apply !bg-transparent;
    }
  }
}
