.component-playground-data .component-playground-data-section[data-v-0729c366]{padding:var(--space-4)}:root.dark .component-playground-data .component-playground-data-section[data-v-0729c366]{background-color:var(--color-gray-900)}
