
.token.tag,
.token.class-name,
.token.selector,
.token.selector .class,
.token.function {
  color: #9807af
}

.token.attr-name,
.token.keyword,
.token.rule,
.token.operator,
.token.pseudo-class,
.token.key,
.token.important {
  color: #096d7c;
}

.token.attr-value,
.token.class,
.token.string,
.token.number,
.token.unit,
.token.color {
  color: #679c0d
}

.token.punctuation,
.token.module,
.token.property {
  color: #078ce5;
}

.dark .token.tag,
.dark .token.class-name,
.dark .token.selector,
.dark .token.selector .class,
.dark .token.function {
  color: #E879F9;
}

.dark .token.attr-name,
.dark .token.keyword,
.dark .token.rule,
.dark .token.operator,
.dark .token.pseudo-class,
.dark .token.key,
.dark .token.important {
  color: #22D3EE;
}

.dark .token.attr-value,
.dark .token.class,
.dark .token.string,
.dark .token.number,
.dark .token.unit,
.dark .token.color {
  color: #BEF264;
}

.dark .token.punctuation,
.dark .token.module,
.dark .token.property {
  color: #E0F2FE;
}

.token.atapply .token:not(.rule):not(.important) {
  color: inherit;
}

.language-shell .token:not(.comment) {
  color: inherit;
}

.language-css .token.function {
  color: inherit;
}

.token.comment {
  @apply text-gray-400;
}


.token.deleted:not(.prefix) {
  @apply relative block px-4 -mx-4;
}

.token.deleted:not(.prefix)::after {
  content: '';
  @apply absolute inset-0 block bg-red-400 bg-opacity-25 pointer-events-none;
}

.token.deleted.prefix {
  @apply text-gray-400 select-none;
}

.token.inserted:not(.prefix) {
  @apply block px-4 -mx-4 bg-green-700 bg-opacity-50;
}

.token.inserted.prefix {
  @apply text-green-200 text-opacity-75 select-none;
}

