name: ci-dev

on:
  push:
    branches:
      - dev
  pull_request:
    types: [opened, synchronize]
    branches:
      - dev

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest] # macos-latest, windows-latest
        node: [16]

    steps:
      - name: Checkout
        uses: actions/checkout@master
        with:
          persist-credentials: false
          fetch-depth: 2

      - uses: pnpm/action-setup@v2.0.1
        with:
          version: 6.32.2

      - name: Setup Node.js environment
        uses: actions/setup-node@v2
        with:
          node-version: 16
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Build
        run: pnpm build

#      - name: Test
#        run: pnpm test

#      - name: Release Edge version
#        if: github.event_name == 'push'
#        run: ./.github/scripts/release-edge.sh
#        env:
#           NODE_AUTH_TOKEN: ${{secrets.NODE_AUTH_TOKEN}}
